@import '../../globalColors.scss';

.side-nav {
  background: $white;
  height: 100%;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .color-type-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }

  .rgb-code-group, .hex-code-group {
    color: black;
    font-size: 16px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .copy-group {
      font-size: 14px;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      width: 70px;
    }

    .copy-icon {
      margin-right: 2px;
      width: 20px;
      height: 20px;
    }
  }
  .rgb-group {
    width: fit-content;
    margin-bottom: 25px;
    background: whitesmoke;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 8px;

    .rgb-slider {
      height: 5px;
      outline: none;
      width: 200px;
    }
  }

  
  .color-label-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    color: black;
  }

  .color-value {
    border: 1px solid $silver-sand;
    width: 50px;
    text-align: right;
    padding: 2px 4px;
    font-weight: bold;
  }

  .divider {
    width: 95%;
    height: 2px;
    background: $silver-sand;
    margin-bottom: 20px;
  }
  

  .hex-row {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
  .hex-value {
    width: 20px;
  }
}