@import '../../globalColors.scss';

.side-nav {
  background: $white;
  height: 100%;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;

  .container {

  }

  .rgb-code-group {
    color: black;
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
  }
  .rgb-group {
    width: fit-content;
    margin-bottom: 25px;
    background: whitesmoke;
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 8px;

    .rgb-slider {
      width: 200px;
      height: 5px;
      outline: none;
    }
  }
  .color-label-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    color: black;
  }

  .color-value {
    border: 1px solid $silver-sand;
    width: 50px;
    text-align: right;
    padding: 2px 2px;
    font-weight: bold;
  }
  
}